<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.iecubetutorial.model_user.points.mapper.PointsRecordMapper">

    <resultMap id="PointsRecord" type="com.iecube.iecubetutorial.model_user.points.entity.PointsRecord">
        <result column="o_sec_id" property="oSecId"></result>
        <result column="account_id" property="accountId"></result>
        <result column="project_id" property="projectId"></result>
        <result column="project_child_id" property="projectChildId"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

    <resultMap id="PointsRecordVo" type="com.iecube.iecubetutorial.model_user.points.vo.PointRecordVo">
        <result column="o_sec_id" property="oSecId"></result>
        <result column="account_id" property="accountId"></result>
        <result column="project_id" property="projectId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="sec_name" property="secName"></result>
        <result column="top_name" property="topName"></result>
        <result column="user_name" property="userName"></result>
        <result column="project_name" property="projectName"></result>
        <result column="project_title" property="projectTitle"></result>
        <result column="project_knowledge_point" property="projectKnowledgePoint"></result>
    </resultMap>

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO u_a_point_record (id, o_sec_id, account_id, `type`, points, project_id, project_child_id, create_time)
        values (NULL, #{oSecId}, #{accountId}, #{type}, #{points}, #{projectId}, #{projectChildId}, #{createTime})
    </insert>

    <select id="getByOSecId" resultMap="PointsRecord">
        SELECT id, o_sec_id, account_id, `type`, points, project_id, project_child_id, create_time
        FROM u_a_point_record
        WHERE o_sec_id=#{oSecId} ORDER BY create_time
    </select>

    <select id="getByAccount" resultMap="PointsRecord">
        SELECT id, o_sec_id, account_id, `type`, points, project_id, project_child_id, create_time
        FROM u_a_point_record
        WHERE account_id=#{accountId} ORDER BY create_time
    </select>
    
    <select id="oSecConsume" resultMap="PointsRecordVo">
        SELECT re.id, re.type, re.points, re.create_time, re.o_sec_id, re.account_id, re.project_id, sec.`name` AS sec_name, top.`name` AS top_name,
               u.`name` AS user_name, u.phone, p.`name` AS project_name, p.title AS project_title, p.knowledge_point AS project_knowledge_point
        FROM `u_a_point_record` re
                 INNER JOIN `u_a_organization_sec` sec ON re.o_sec_id=sec.id
                 INNER JOIN `u_a_organization_top` top ON sec.p_id=top.id
                 INNER JOIN  `u_a_account` account ON re.account_id=account.id
                 INNER JOIN `u_a_user` u ON account.phone=u.phone
                 INNER JOIN `project` p ON re.project_id=p.id
        WHERE re.o_sec_id=#{oSecId} AND re.type!='RECHARGE' ORDER BY create_time DESC;

    </select>

    <select id="oSecRecharge" resultMap="PointsRecordVo">
        SELECT re.id, re.type, re.points, re.create_time, re.o_sec_id, re.account_id, re.project_id, sec.`name` AS secName, top.`name` AS topName
        FROM `u_a_point_record` re
            INNER JOIN `u_a_organization_sec` sec ON re.o_sec_id=sec.id
            INNER JOIN `u_a_organization_top` top ON sec.p_id=top.id
        WHERE re.o_sec_id=#{oSecId} AND re.type='RECHARGE' ORDER BY create_time DESC;
    </select>
</mapper>