<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.iecubetutorial.model.s_m_t.mapper.SMaterialTagMapper">

    <resultMap id="Tag" type="com.iecube.iecubetutorial.model.tags.entity.Tag">
        <result property="createTime" column="create_time"></result>
    </resultMap>


    <insert id="insert" >
        INSERT INTO s_material_tag (s_material_id, tag_id) values (#{sMaterialId}, #{tagId})
    </insert>

    <insert id="batchInsert">
        INSERT INTO s_material_tag (s_material_id, tag_id) VALUES
           <foreach collection="list" item="item" separator=",">
                (#{item.sMaterialId}, #{item.tagId})
           </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM s_material_tag WHERE s_material_id=#{sMaterialId} AND tag_id=#{tagId}
    </delete>

    <select id="getTagsBySMaterialId" resultMap="Tag">
        SELECT s_tags.id, s_tags.name, s_tags.create_time
        FROM s_tags INNER JOIN s_material_tag ON s_tags.id=s_material_tag.tag_id
        WHERE s_material_tag.s_material_id=#{sMaterialId}
    </select>

</mapper>