<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.iecubetutorial.model_user.organization_sec.mapper.OrgSecMapper">

    <resultMap id="OrgSec" type="com.iecube.iecubetutorial.model_user.organization_sec.entity.OrgSec">
        <result column="p_id" property="pId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="last_operate_time" property="lastOperateTime"></result>
        <result column="last_operator" property="lastOperator"></result>
    </resultMap>

    <insert id="createOrgSec" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO u_a_organization_sec (id, p_id, `name`, type, `limit`, `status`,
                                          removed, create_time, creator, last_operate_time, last_operator)
        VALUES (NULL, #{pId},  #{name}, #{type}, #{limit}, #{status},
                0, #{createTime}, #{creator}, #{lastOperateTime}, #{lastOperator})
    </insert>

    <select id="getById" resultMap="OrgSec">
        SELECT id, p_id, `name`, type, `limit`, `status`,
               removed, create_time, creator, last_operate_time, last_operator
        FROM u_a_organization_sec
        WHERE id=#{id} AND removed=0
    </select>

    <select id="getOrgSecByTop" resultMap="OrgSec">
        SELECT id, p_id, `name`, type, `limit`, `status`,
               removed, create_time, creator, last_operate_time, last_operator
        FROM u_a_organization_sec
        WHERE removed=0 AND p_id=#{oTopId}
    </select>

    <select id="getNotRemoved" resultMap="OrgSec">
        SELECT id, p_id, `name`, type, `limit`, `status`,
               removed, create_time, creator, last_operate_time, last_operator
        FROM u_a_organization_sec
        WHERE removed=0
    </select>

    <select id="batchGet" resultMap="OrgSec">
        SELECT id, p_id, `name`, type, `limit`, `status`,
               removed, create_time, creator, last_operate_time, last_operator
        FROM u_a_organization_sec
        WHERE removed=0 AND id IN
        <foreach collection="idList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

</mapper>