<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 属性：用于指定当前的映射文件和哪个接口进行映射， 需要指定接口的文件路径， 需要标注包的完整路径接口-->
<mapper namespace="com.iecube.iecubetutorial.model_admin.price.mapper.PriceUnitMapper">

    <resultMap id="PriceUnit" type="com.iecube.iecubetutorial.model_admin.price.entity.PriceUnit">
        <result column="source_units" property="sourceUnits"></result>
        <result column="source_units_cn" property="sourceUnitsCn"></result>
        <result column="target_units" property="targetUnits"></result>
        <result column="target_units_cn" property="targetUnitsCn"></result>
        <result column="create_time" property="createTime"></result>
        <result column="last_operate_time" property="lastOperateTime"></result>
        <result column="last_operator" property="lastOperator"></result>
    </resultMap>

    <select id="getPriceUnits" resultMap="PriceUnit">
        SELECT `id`, `type`, `source`, `source_units`, `source_units_cn`, `target`, `target_units`, `target_units_cn`,
               `active`, `removed`, `create_time`, `creator`,`last_operate_time`,`last_operator`
        FROM a_price_unit WHERE active=1
    </select>

    <select id="targetTokenPerPoint" parameterType="java.lang.Double">
        SELECT target FROM a_price_unit WHERE type='POINTTOTOKENS' AND active=1;
    </select>

    <select id="targetPointsPerRMB" parameterType="java.lang.Double">
        SELECT target FROM a_price_unit WHERE type='RMBTOPOINTS' AND active=1;

    </select>

    <update id="UpdatePriceUnit">
        UPDATE a_price_unit SET need=#{need},
                                last_operate_time=#{lastOperateTime},
                                last_operator=#{lastOperator}
                            WHERE `type`=#{type}
    </update>

    <update id="disableAll">
        UPDATE a_price_unit SET active=0 WHERE active=1
    </update>
    
    <insert id="createPrice">
        INSERT INTO a_price_unit (`id`, `type`, `source`, `source_units`, `source_units_cn`, `target`, `target_units`, `target_units_cn`,
                                  `active`,
                                  `removed`, `create_time`, `creator`,`last_operate_time`,`last_operator`)
        values (NULl, #{type}, #{source}, #{sourceUnits}, #{sourceUnitsCn}, #{target}, #{targetUnits}, #{targetUnitsCn},
                #{active},
                #{removed},#{createTime},#{creator},#{lastOperateTime},#{lastOperator})
    </insert>

</mapper>